@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: rgb(19, 127, 199);
}

body {
    background: #d8d8d8 ;
    margin: 0;
    font-family: Poppins;
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span {
            color: var(--primary-color)
        }
    }

     nav {
         display: none;
     }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer
    }
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em ;
}

.left-col {
    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta {
        display: block;
        margin-top: 1em;

        img {
            margin-right: .5em;
        }
    }
}

.hero-img {
    width: 70%;
    margin-top: 3em;
}

section.features-section {
    background: #20272E;
    color: white;
}

ul.features-list {
    margin: 0;
    padding-left: 0.1em;
    display: grid;


    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &::before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: 0.5em;
        }
    }
}     

features-section img {
    display: none;
}

.testimonials-section {
    background: var(--primary-color);

    li {
        background: rgb(20, 108, 167);
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        img {
            width: 5em;
            height: 5em;
            border: 5px solid #006BD6;
            border-radius: 50%;
            margin-top: -5em;
        }
    }
}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input, textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

.send-message-cta {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3 em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: 0.8em 2em;
    width: unset;
    cursor: pointer;
}

iframe{
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }
    li {

        a {
            color :white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
}